<!DOCTYPE html>
<html>
    <head>
        <title>Weather information not found</title>
    </head>

    <body>
        <p>We're sorry, the weather information requested could not be found.</p>
        <p><a href="/">Back to home page</a></p>
    </body>

</html>
